/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
	padding:10px;
}
.book-library{
	max-width:800px;
	border-radius:5px;
	box-shadow:0px 5px 5px 5px lightgray;
}
div>h1{
	margin:0px;
	padding:10px;
	text-align:center; 
	background-color:lightgray;
}
h2,p,img{
	margin:0px;
	text-align:left;
}
p{
	color:#777777;
}
.book{
	margin-top:20px;
	padding:10px;
	text-align:center; 
	background-color:lightgray;
	position:relative;
}
button{
	width:100%;
	color:white;
	background-color:#2ecc71;
	border:0px;
	border-radius:3px;
}

